#req
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqfname
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqmail
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqnum
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqcaddone
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqcaddtwo
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqcdistrict
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqcpincode
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqpaddone
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqpaddtwo
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqpdistrict
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqppincode
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
.red
{
    color: red;
}
#reqfile
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
#reqdob
{
    color: red;
    visibility: hidden;
    font-size: 14px;
}
